
    <footer id="js-footer" class="l-footer">
        <p class="copyright"><small>Copyright© 2021 All Rights Reserved.</small></p>
    </footer>
    <!-- jquery -->
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"></script> -->
    <% if (meta['page'] === "idea5") { %>
    <script src="https://unpkg.com/three@0.140.2/build/three.min.js"></script>
    <script type="text/javascript" src="<%= path %>js/three.min.js"></script>
    <% } %>
    <% if (meta['page'] === "idea12") { %>
        <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
        <script type="text/javascript" src="<%= path %>js/idea12.min.js"></script>
    <% } %>
    <% if (meta['page'] === "idea13") { %>
        <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
        <script type="text/javascript" src="<%= path %>js/idea13.min.js"></script>
    <% } %>
    <% if (meta['page'] === "idea14") { %>
        <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ukiyojs@4.1.1/dist/ukiyo.min.js"></script>
        <script type="text/javascript" src="<%= path %>js/idea14.min.js"></script>
    <% } %>
    <% if (meta['page'] === "idea15") { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script type="text/javascript" src="<%= path %>js/idea15.min.js"></script>
    <% } %>
    <% if (meta['page'] === "idea16") { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script type="text/javascript" src="<%= path %>js/idea16.min.js"></script>
    <% } %>
    <!-- common -->
    <script type="text/javascript" src="<%= path %>js/script.min.js"></script>
</body>
</html>